<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>

<body>
  <div *ngIf="errorMessage != undefined && errorMessage.length>0">
    <div class="alert alert-danger">{{errorMessage}}</div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col" style="height: 50px; width: 50px"></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 30rem; height: 30rem; margin: 0px auto; border-radius: 20px">
          <br><br>
          <h5 class="card-title text-center" style="margin-top: 10px">
            <img src="../../assets/img/tweet.png" alt="" height="80px" width="80px">
          </h5>

          <div class="card-body">
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
              <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col">
                  <input type="email" class="form-control input-sm" id="email" ngModel #email="ngModel" name="email"
                    aria-describedby="email" placeholder="Enter email" required />
                </div>
                <div class="col-sm-1"></div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col">
                  <input type="password" class="form-control input-sm" id="password" name="password" #password="ngModel"
                    ngModel placeholder="Password" required />
                </div>
                <div class="col-sm-1"></div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col"><button type="submit" class="btn btn-primary" style="width: 100%; border-radius: 20px">
                    <strong>Sign In</strong>
                  </button></div>
                <div class="col-sm-1"></div>
              </div>
              <p class="text-center"> <a routerLink="/forgotPassword">forgot password</a> </p>
              <p class="text-center">new user? <a routerLink="/register">sign up</a></p>

            </form>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col">
            <div [style.opacity]="errorOpacity" *ngIf=" loginFormIsInvalid">
              <div class="alert alert-danger">Wrong email or password</div>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
<router-outlet></router-outlet>
