<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
</head>

<body>
  <!--TODO:add cross button which will redirect to home-->
  <div class="container">
    <div class="row">
      <div class="col" style="height: 50px; width: 50px"></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 30rem; padding: 10px; margin: 0px auto; border-radius: 20px">

          <div class="row">

            <div class="col-sm-7">
              <h5 class="card-title text-right" style="margin-top: 10px;">
                <b>Sign Up</b>
              </h5>
            </div>
            <div class="col-sm-5 text-right">
              <a routerLink="/login" class="btn btn-primary-gray" style="font-size: large;"><strong>X</strong></a>
            </div>
          </div>

          <div class="col" *ngIf="invalidForm">
            <div class="alert alert-danger">Invalid Details Provided!</div>
          </div>
          <div class="col" *ngIf="success">
            <div class="alert alert-success">Registration success!</div>
          </div>
          <div class="col" *ngIf="errorMessage.length>0">
            <div class="alert alert-danger">{{errorMessage}}</div>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
              <div class="form-group">
                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter First Name"
                  minlength="5" maxlength="10" #firstName="ngModel" ngModel />
                <div class="alert-danger" *ngIf="firstName.invalid">
                  <div class="emptyError" *ngIf="firstName.errors?.required">
                    First Name is required
                  </div>
                  <div class="emptyError" *ngIf="firstName.errors?.minlength">
                    First Name should be atleast 5 characters long
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="lastName" id="lastName" class="form-control" #lastName="ngModel" ngModel
                  placeholder="Enter Last Name" minlength="5" maxlength="10" />
                <div class="alert-danger" *ngIf="lastName.invalid">
                  <div class="emptyError" *ngIf="lastName.errors?.required">
                    Last Name is required
                  </div>
                  <div class="emptyError" *ngIf="lastName.errors?.minlength">
                    Last Name should be atleast 5 characters long
                  </div>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="gender" id="gender" #gender="ngModel" ngModel>
                  <option value="choose gender" selected>
                    choose gender
                  </option>
                  <option value="MALE">MALE</option>
                  <option value="FEMALE">FEMALE</option>
                  <option value="NEUTRAL">NEUTRAL</option>
                </select>
                <div class="alert-danger" *ngIf="gender.value == 'choose gender'">
                  Please Choose Gender
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <input type="date" class="form-control" placeholder="yyyy-mm-dd" name="dateOfBirth" ngModel
                    #dateOfBirth="ngModel" />
                  <div class="alert-danger" *ngIf="dateOfBirth.invalid">
                    Invalid Date of birth
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" ngModel #email="ngModel" name="email"
                  aria-describedby="email" pattern="[a-zA-Z0-9]{3,}[@][a-zA-Z0-9]{4,}[.][c][o][m]$"
                  placeholder="Enter email" />
                <div class="alert-danger" *ngIf="email.invalid">
                  Enter a valid email
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" name="password" #password="ngModel" ngModel
                  placeholder="Password" minlength="6" maxlength="8" ngModelOptions />
                <div class="alert-danger" *ngIf="password.invalid">
                  password should be 6 to 8 characters long
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="confirmPassword" ngModel #confirmPassword="ngModel"
                  id="confirmPassword" placeholder="Confirm Password" />
                <div class="alert-danger" *ngIf="confirmPassword.invalid">
                  <div class="alert-danger" *ngIf="confirmPassword.errors?.required"> Confirm password cannot be empty
                  </div>
                </div>
                <div class="alert-danger" *ngIf="confirmPassword.value!=password.value">
                  Confirm Password and password should be equal
                </div>

              </div>
              <button type=" submit" class="btn btn-primary" style="width: 100%; border-radius: 20px">
                <strong>Sign Up</strong>
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
