<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot password</title>
</head>

<body>
  <div class="alert alert-danger" *ngIf="thereIsSomeError">{{errorMessage}}</div>
  <div class="container">
    <div class="row">
      <div class="col" style="height: 50px; width: 50px"></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card" style="width: 30rem; height: 30rem; margin: 0px auto; border-radius: 20px">
          <br>
          <div class="row">
            <div class="col-sm-8">
              <h5 class="card-title text-right" style="margin-top: 10px;">
                <b>Forgot password</b>
              </h5>
            </div>
            <div class="col-sm-4 text-right">
              <a routerLink="/login" class="btn btn-primary-gray" style="font-size: large;"><strong>X</strong></a>
            </div>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
              <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col">
                  <input type="email" class="form-control input-sm" id="email" ngModel #email="ngModel" name="email"
                    aria-describedby="email" placeholder="Enter email" required />
                </div>
                <input type="button" class="btn btn-primary" value="verify" (click)="verifyUser(email)">
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group row" *ngIf="!userIdIsInValid">
                <div class="col">
                  <div class="alert alert-success "><i class="fa fa-check"></i> &nbsp;
                    {{successMessage}}</div>
                </div>
              </div>
              <br>
              <div class="passwordChange" *ngIf="!userIdIsInValid">
                <div class="form-group row">
                  <div class="col-sm-1"></div>
                  <div class="col">
                    <input type="password" class="form-control input-sm" id="oldpassword" name="oldpassword"
                      #oldpassword="ngModel" ngModel placeholder="Old Password" required />
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <br>
                <div class="form-group row">
                  <div class="col-sm-1"></div>
                  <div class="col">
                    <input type="password" class="form-control input-sm" id="newpassword" name="newpassword"
                      #newpassword="ngModel" ngModel placeholder="New Password" required minlength="6" maxlength="8" />
                  </div>
                  <div class="col-sm-1"></div>
                </div>
                <br>
              </div>
              <div class="form-group row">
                <div class="col-sm-1"></div>
                <div class="col"><button [disabled]="userIdIsInValid" type="submit" class="btn btn-primary"
                    style="width: 100%; border-radius: 20px">
                    <strong>Submit</strong>
                  </button></div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group row" *ngIf="passwordChangedSuccess[0]">
                <div class="col">
                  <div class="alert alert-success">{{passwordChangedSuccess[1]}}</div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
        <div class="row"></div>
      </div>

    </div>
  </div>
</body>

</html>
<router-outlet></router-outlet>
