<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="card" *ngFor="let item of tweets">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-3">
            <div class="card-title">
              <a href=""><img src="../..../../assets/img/tweet.png" alt="" height="50px" width="50px"></a>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <strong>{{item.userName}}</strong>
                <br>
                <i>{{item.user}}</i>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-9">
        <div class="col">
          <div class="text-secondary text-right"><strong>.</strong>{{item.timestamp}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-body">
          {{item.body}}


        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col" style="margin-bottom: 20px;">
        <div class="text-secondary">
          <i class="fa fa-heart" style="color: red; font-size: large;"></i>
          &nbsp;{{item.likes}}
        </div>
      </div>
    </div>
  </div>
</div>
