<div class="alert alert-danger" *ngIf="errorMessage.length>0">{{errorMessage}}</div>
<div class="container">
  <div class="card">
    <div class="card-title">
    </div>
    <div class="card-body">

      <form (ngSubmit)="postTweet(tweet)" #tweet="ngForm">

        <div class="form-group">
          <textarea type="texta" name="lastName" id="lastName" class="form-control" #postBody="ngModel" ngModel
            placeholder="What's happening?" style="height: 100px;" minlength="10" maxlength="250" required></textarea>
        </div>
        <div class="alert alert-danger" *ngIf="tweetIsEmpty"></div>

        <div class=" text-right">
          <button type="submit" class="btn btn-primary" style="border-radius: 20px; width: 60px;">Post</button>
        </div>
      </form>

    </div>

  </div>

  <br>
  <app-tweets></app-tweets>
</div>
