<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../assets/img/tweet.png" alt="" height="50px" width="50px"
        style="margin-left:10px;"></a>
    <span class="navbar-text">
      <i>What's happening?</i>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Users</a>
        </li>
        <li class="nav-item">
          <a routerLink="../login" class="btn btn-primary" (click)="logout()">Logout</a>
        </li>
        &nbsp;
        <li class="nav-item">
          <a href="#" class="btn btn-primary">My profile</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <app-main></app-main>
</body>

</html>
